@{
    ViewData["Title"] = "Confirmação de exclusão do contato";
}

<div class="text-center">
    <h3>Deseja realmente EXCLUIR o contato (Eduardo Ramos)? </h3>
</div>

<div class="d-grid gap-2">
<a class="btn btn-outline-primary" role="button">Cancelar</a>
<a class="btn btn-outline-danger" role="button">Excluir</a>
</div>

